/* 노멀라이즈 */
body, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 폰트 설정 */
/* 전체 폰트 */
.top_menu, nav, #product_list>main, footer {
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	color: #110B08;
}

/* h1 폰트 */
header > h1, footer .h1 {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #0C0806;
}

/* 커스텀 */
body {
	background-color: #fffef8;
}
body>#product_list {
	width: 100%;
	/* 	height: 5000px; */
	margin: 0 auto;
}

/********** header **********/
header {
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
}
header>h1 {
	font-size: 80px;
	white-space: nowrap;
	padding-bottom: 10px;
}
.top_menu {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 14px;
}

header > .top_menu > a:first-child, 
header > .top_menu > a:last-child {
	margin: 0 5px;
}
.top_right {
	margin: 0 2px;
}
header > .top_menu > div {
	display: flex;
	align-items: center;
	padding-bottom: 1px;
}

/********** header 끝 **********/

/************ menu_box_1 시작 ************/
.menu_box_1 {
	display: flex;
	justify-content: center;
	background-color: #fff;
	border-bottom: 1px solid #dfdfdf;
}

.menu_box_1>ul {
	display: flex;
}

.menu_box_1>ul>li {
	width: 150px;
	height: 40px;
	margin: 8px;
	/* 	padding: 5px; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.menu_box_1>ul>li>a {
	display: block;
	font-size: 24px;
}

.menu_box_1 li:hover {
	color: #6D8CC7;
	background-color: #efefef;
	border: 1px solid #6D8CC7;
	border-radius: 5px;
	box-sizing: border-box;
	position: relative;
	top: 1px;
}

/************ menu_box_1 끝 ************/

/************ select_menu 시작  ************/
.select_menu {
	margin: 60px 0 40px 0;
	font-size: 12px;
}

.select_menu>ul {
	display: flex;
	justify-content: center;
	/* background-color: #fffeeb; */
	/* font-size: 14px; */
}

.select_menu>ul>li {
	width: 150px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* 	border: 1px solid #000; */
	color: rgb(187, 169, 164);
	transition: color .2s ease;
}

#product_list>.select_menu>ul>li:hover {
	color: black;
}

.select_menu > ul li:nth-child(-n+3) {
    border-right: 1px solid #efefef;
}



/************ ↑ select_menu  ************/

/************ main 시작  ************/
/* main {
	background-color: green;
		margin: 0 auto;
	margin: 60px 0;
	padding: 10px 0;
} */

.main_ct {
		width: 80%;
	/* 	height: 500px; */
	/* border-top: 1px solid #efefef; */
	border-bottom: 1px solid #efefef;
	margin: 0 auto;
	margin-bottom: 160px;
}
.main_ct > h3 {
	font-size: 20px;
}
.ct_box_1 {
	/* margin-bottom: 160px; */
}
.ct_box_2 {
	/* margin-bottom: 100px; */
}

.main_ct h3 {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.pd_list {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
	/* 	background-color: #ff0; */
	/* padding: 10px 0; */
	padding-top: 40px;
	/* border-bottom: 1px solid #efefef; */
}

.pd_list>.pd {
	/* min-width: 50px; */
	/* 	height: 280px; */
	margin: 0 10px;
	/* background-color: #efdfdf; */
	/* border: 1px solid #000; */
	display: flex;
	justify-content: end;
}

.pd_list > .pd > a {
	text-align: center;
	/* 	display: flex; */
	/* 	justify-content: center; */
	/* 	flex-direction: column; */

}

.pd_name {
	margin-top: 5px;
}

.main_ct>.pd_list>.pd img {
	width: 96%;
	margin: 0 auto;
}

/********** main 끝 **********/

/********** footer 시작 **********/
footer {
	/* height: 200px; */
	/* 	min-height: 200px; */
	/* position: relative; */
	background-color: rgb(218, 191, 157);
	/* margin: 50px 0; */
	/* border-top: 1px solid #dfdfdf; */
	font-size: 14px;
	border-radius: 30px 0 0 0;
}

footer * {
	box-sizing: border-box;
}

footer>section {
	/* 	width: 1850px; */
	width: 94%;
	/* 	border-top: 1px solid rgb(240, 232, 219); */
	/* 	border-bottom: 1px solid #E5D5BD; */
	/* 	padding-bottom: 10px; */
	margin: 0 auto;
}

footer > section:last-child {
	border-top: 1px solid #E5D5BD;
}

footer .top_wrap,
footer .bt_wrap {
	font-size: 10px;
}
/* footer .txt_box */
.txt_box {
	display: flex;
	position: relative;
}

.flex-grow-1 {
	flex-grow: 1;
}

/**** 푸터 내부 공통 설정 끝 ****/
/* footer .ft_top 시작 */
footer .ft_top {
	position: relative;
}
footer .ft_top h1, footer .ft_top .icon {
	position: absolute; top: 40px;
}

/* footer > .ft_top > h1 시작 */
footer .ft_top .h1 {
	height: 100px;
	
}

footer .ft_top h1 {
	font-size: 26px;
}
/* footer > .ft_top > h1 끝 */
/* footer .ft_top 끝 */

/*** top_wrap 시작 ***/
.top_wrap {
	height: 150px;
}

.top_wrap>.txt_box>.box_l {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.top_wrap>.txt_box>.box_l>div {
	margin-top: 2px;
}

/*** top_wrap 끝 ***/

/**** section bt_wrap ****/
.bt_wrap {
	height: 70px;
	/* 	border-top: 2px solid pink; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/**** bt_wrap > box_l 시작  ****/
.bt_wrap>.txt_box>.box_l {
	width: 288px;
	display: flex;
	/* 	background-color: pink; */
	justify-content: space-between;
}


/**** box_l 끝 ****/

/**** box_r 시작****/
.box_r {
	text-align: end;
}

/**** box_r 끝 ****/
/**** bt_wrap 끝 ****/
/********** footer 끝 **********/